.main-content {
    padding: 40px;
    color: black;
    margin-top: 100px; /* Adjust margin to account for fixed navbar */
}

/* Permalink styles */
.permalink {
    color: #007bff;
    margin-top: 20px;
    font-weight: bold;
}

.container {
    max-width: 800px;
    margin: auto;
}
.section {
    margin-bottom: 30px;
}
.shloka {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-style: italic;
}