@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');  
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&family=Halant:wght@300;400;500;600;700&family=Laila:wght@300;400;500;600;700&family=Martel:wght@200;300;400;600;700;800;900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Yatra+One&display=swap');  
  
/* Add your custom styles here */  

.main-content {
  padding: 40px;
  background-color: #272727;
  margin-top: 100px; /* Adjust margin to account for fixed navbar */
  color: white;
  hyphens: auto;
}

body {
  background-color: #272727;
  color: white;
  hyphens: auto;
  word-break: break-word;  
}

/* Permalink styles */
.permalink {
  color: #007bff;
  margin-top: 20px;
  font-weight: bold;
}

.section {
  margin-bottom: 30px;
  color: white;
}

head {
  color: #ffe400;
}

.shloka {
  padding: 10px;
  padding-left: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-style: italic;
  font-size: 1.2em;
}

img {
  width: 300px;
  height: 300px;
}

/* Media query for screens wider than 700px */
@media (min-width: 700px) {
img {
  width: 300px;
  height: 300px;
}
}

.yatra-one-regular {
  font-family: "Yatra One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.fancy-heading {
  font-size: 2em;
  color: #ffe400;
  margin-bottom: 20px;
}

nav {
  background-color: #14A76C;
  font-family: "Eczar", serif;
  font-style: normal;
}

.fancy-image-border {
  border-style: solid;
  border-image: linear-gradient(45deg, rgb(249, 246, 47), rgb(255, 88, 169));
  border-image-slice: 1;
  /* box-shadow: 0 0 10px #ffe400; */
}

.commentary {
  font-size: 1.2em;
  color: #b6b68a;
}

.halant-light {
  font-family: "Halant", serif;
  font-weight: 300;
  font-style: normal;
}

.halant-regular {
font-family: "Halant", serif;
font-weight: 400;
font-style: normal;
}

.halant-medium {
font-family: "Halant", serif;
font-weight: 500;
font-style: normal;
}

.halant-semibold {
font-family: "Halant", serif;
font-weight: 600;
font-style: normal;
}

.halant-bold {
font-family: "Halant", serif;
font-weight: 700;
font-style: normal;
}

.martel-extralight {
  font-family: "Martel", serif;
  font-weight: 200;
  font-style: normal;
}

.martel-light {
font-family: "Martel", serif;
font-weight: 300;
font-style: normal;
}

.martel-regular {
font-family: "Martel", serif;
font-weight: 400;
font-style: normal;
}

.martel-semibold {
font-family: "Martel", serif;
font-weight: 600;
font-style: normal;
}

.martel-bold {
font-family: "Martel", serif;
font-weight: 700;
font-style: normal;
}

.martel-extrabold {
font-family: "Martel", serif;
font-weight: 800;
font-style: normal;
}

.martel-black {
font-family: "Martel", serif;
font-weight: 900;
font-style: normal;
}

.noto-sans-regular {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
}

.noto-sans-light {
  font-family: "Noto Sans", sans-serif;
  font-weight: 300;
}

.laila-light {
font-family: "Laila", serif;
font-weight: 300;
font-style: normal;
}

.laila-regular {
font-family: "Laila", serif;
font-weight: 400;
font-style: normal;
}

.laila-medium {
font-family: "Laila", serif;
font-weight: 500;
font-style: normal;
}

.laila-semibold {
font-family: "Laila", serif;
font-weight: 600;
font-style: normal;
}

.laila-bold {
font-family: "Laila", serif;
font-weight: 700;
font-style: normal;
}


.book-name {
  font-size: 1.5em;
  font-weight: bold;
  color: #d5ff00;
  opacity: 0.8;
}

.hidden {  
display: none;  
}